:root {
  --primary: #00c39a;
  --secondary: #fdcf6d;
  --bg: #121418;
  --gray: #9f9fa1;
  --grayLight: #acacae;
}

* {
  padding: 0;
  margin: 0;
  color: var(--grayLight);
}

body {
  background: var(--bg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 60px 0px 60px;
}

#razor {
  color: white;
  font-size: 25px;
  font: bold;
}

#listaH {
  display: flex;
  justify-content: space-around;
  gap: 35px;
}

#logar {
  display: flex;
  justify-content: space-around;
  gap: 25px;
}

#requestDemo {
  color: var(--primary);
}

#razorTitle {
  color: white;
  margin: auto;
  margin-top: 80px;
  width: fit-content;
  font-size: 50px;
}

#razorP {
  width: fit-content;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

#containerButton {
  align-items: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#buttonGS {
  padding: 1rem 2rem 1rem 2rem;
  color: black;
  border-radius: 30px;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

#buttonSP {
  color: white;
}
